body{padding: 0%;
    margin: 0%;}


    backgraud:#000000;

 h1{color:#E34007; font-family: Helvetica;}
 p{ color:#E34007; font-family: Helvetica;}  
 
 

button{background-color: #E34007; color: #000000;}
